/* Pseudo selectors, starts with :root */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097a7;
    --gris: #757575;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--oscuro);
}

.contenedor-nav {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
    margin-bottom: 0px;
}

.navegacion-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem;
    transition-duration:0.9s;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (max-width:480px){
    .navegacion-principal{
        flex-direction: column;
        /* align-items: center; */
    }
    .navegacion-principal a{
        width: 100%;
        text-align: center;
    }
}

.contenido-hero{
    color: var(--blanco);
    text-align: center;
}
.contenido-hero a{
    text-decoration: none;
    color: var(--blanco);
}
.hero {
    background-image: url(../img/hero.jpg);
    padding: 5rem 0 20rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
